<%- include("partials/header") -%>

<h1>Home</h1>
<p><%=content%></p>

<%postList.forEach(function(element){%>
<h1><%=element.postTitle%></h1>
<p>
  <%=element.postBody.substring(0,100)%>...
  <a href="/posts/<%=element.postTitle%>">Read More</a>
</p>
<%})%> 

<form action="/compose_button" method="POST">
    <button type="submit" class="btn btn-warning">Compose</button>
</form>
<br />
<br />
<form action="/delete_button" method="POST">
  <button type="submit" class="btn btn-warning">Delete All</button>
</form>


<%- include("partials/footer") -%>
